/* Implementação de fontes*/

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

h2{
    font-family: 'Lexend Deca', sans-serif;
}

p{
    font-family: 'Big Shoulders Display', cursive;
}

/* implementação no body*/

body{
    font-size: 15px;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
}

/* Definindo tamanho padrão da pagina*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*Implementação nas divs*/

.wraper{
    display: inline-block;
    flex-flow: column;
    justify-content: space-between;
}

.Sedans{
    background-color: hsl(31, 77%, 52%);
    float: left;
    margin: auto;
    width: 20%;
    height: 20%;
    flex-shrink: 0;
}

.SUVs{
    background-color: hsl(184, 100%, 22%);
    float: left;
    margin: auto;
    width: 20%;
    height: 20%;
    flex-shrink: 0;
}

.Luxury{
    background-color: hsl(179, 100%, 13%);
    float: left;
    margin: auto;
    width: 20%;
    height: 20%;
    flex-shrink: 0;
}

/*roda Pé*/

.attribution{
clear: both;
}